<!DOCTYPE html>
<html>
<head>
  <title>Rectime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="body">
  <div id="wrapper">

    <div id="header">
      <h1>Your rectimes</h1>
    </div>

    <div id="main">
      <% @movements.each do |movement| %>
      <div id="movement-table">
        <p><%= "#{movement.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %a")}" %></p>
        <% movement.record.each do |record| %>
        <div id="record">
          <table>
            <tr>
              <td><%= "#{record.point.name}" %></td>
              <td><%= "#{record.comment}" %></td>
            </tr>
          </table>
          <p class="record-time"><%= "#{record.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %a %H:%M")}" %></p>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div id="footer">
      <p>Copyright &copy; 2014 by smczk</p>
      <p>Powered by Heroku</p>
    </div>
  </div>
</div>
</body>
</html>
