<!DOCTYPE html>
<html>
<head>
  <title>Rectime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
#  <%= csrf_meta_tags %>
</head>
<body>

<table>
  <tr>
    <td>id</td>
    <td>point_name</td>
    <td>register date</td>
  </tr>
<% @points.each do |point| %>
  <tr>    
    <td><%= "#{point.id}" %></td>
    <td><%= "#{point.name}" %></td>
    <td><%= "#{point.created_at}" %></td>
  </tr>
<% end %>
</table>

</body>
</html>
